@tailwind base;
@tailwind components;
@tailwind utilities;

/* Not Found Page */
@keyframes not-found-rays-frames {
    from {
        background-position: 50% 50%, 50% 50%;
    }
    to {
        background-position: 350% 50%, 350% 50%;
    }
}

@keyframes not-found-return-frames {
    0% {
        background-position: -100% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.not-found-rays {
    --stripes: repeating-linear-gradient(
        100deg,
        #fff 0%,
        #fff 7%,
        transparent 10%,
        transparent 12%,
        #fff 16%
    );
    --rainbow: repeating-linear-gradient(
        100deg,
        #60a5fa 10%,
        #e879f9 15%,
        #60a5fa 20%,
        #5eead4 25%,
        #60a5fa 30%
    );
    background-image: var(--stripes), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;

    filter: blur(10px) brightness(35%) invert(5%);

    mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

    pointer-events: none;
}

.not-found-rays::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: not-found-rays-frames 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
}

.not-found-return {
    position: relative;
    text-decoration: none;
    transition: text-shadow 0.5s ease-in-out;
  }

.not-found-return:hover {
    text-shadow: 0 0 10px rgb(147, 197, 253);
}

.not-found-return::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background: linear-gradient(to right, #007cf0, #00dfd8, #007cf0);
    background-size: 200% auto;
    animation: not-found-return-frames 2s linear infinite;
    border-radius: 1px;
    transition: all 0.5s;
}
  
.not-found-return:hover::after {
    width: 100%;
    left: 0;
}

.not-found-logo {
    background: linear-gradient(var(--gradient-angle, 45deg), var(--gradient-colors));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
